<ion-header>
  <mapfre-header [title]="'Mapfre Header'" [menu]="true" [rightIcons]="['search']" [actionMenu]="['chatbubbles', 'opcion1', 'opcion2']" (titleClicked)="goBack()">
  </mapfre-header>
</ion-header>

<ion-content padding>

  <label>PAGE 2</label>

</ion-content>

<ion-footer>

</ion-footer>
